<form nz-form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <nz-form-item>
        <nz-form-control nzErrorTip="{{ mensagemErro.email }}">
            <nz-input-group nzPrefixIcon="mail">
                <input type="email" nz-input formControlName="userEmail" placeholder="Email">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="{{ mensagemErro.password }}">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="userPassword" placeholder="Senha">
                
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button [nzType]="'primary'">Login</button>
        </nz-form-control>
    </nz-form-item>
</form>