<!-- NG-ZORRO -->
<nz-layout>
  <nz-header>
    <app-navbar></app-navbar>
  </nz-header>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>


  <!-- <nz-content>
    <div nz-row>
        <div nz-col nzSpan="12">
          <app-note-list></app-note-list>
        </div>
        <div nz-col nzSpan="12">
          <app-note-board></app-note-board>
        </div> 
      </div>
  </nz-content> -->
  </nz-layout>
  
  <nz-footer>
    <!-- todo -->
  </nz-footer>  
</nz-layout>
