<div nz-row>
    <section nz-col class="login-component" [nzXs]="{ span: 11, offset: 1}" [nzLg]="{ span: 6, offset: 6}" nzSpan="8" nz-Offset="6">
        <nz-tabset>
            <nz-tab nzTitle="Login">
                <!-- <i nz-icon nzType="user"></i> -->
                <app-form-login></app-form-login>
            </nz-tab>
            <nz-tab nzTitle="Sign in">
                <!-- <i nz-icon nzType="user-add"></i> -->
                <app-form-signin></app-form-signin>    
            </nz-tab>
        </nz-tabset>
    </section>
</div>
