<div>
    <div nzSpan="12">
        <form nz-form [formGroup]="searchForm">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                <div nz-col 
                nzXs="24"
                nzMd="24">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="search">
                                <input nz-input type="search" formControlName="query">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    
    <!-- button -->
    
    <nz-list [nzItemLayout]="'horizontal'">
        <nz-list-item *ngFor="let note of list_notes | reverse  | search: searchForm.get('query').value; let i = index"> 
            <a (click)="selectNote(note.id)">
                <nz-list-item-meta
                    [nzTitle]="note.texto | truncate:[85, '...']"
                    nzDescription="{{note.texto}}"
                >
                </nz-list-item-meta>
            </a>            
        </nz-list-item>
    </nz-list>
</div>
